@import 'tailwindcss';

@font-face {
  font-family: 'PretendardVariable';
  src: url('/public/fonts/PretendardVariable.ttf') format('truetype');
}

html,
body {
  width: 100%;
  min-width: 0; /* 폭 잠금 해제 */
  overflow-x: hidden; /* 혹시 모를 미세 넘침 방지 */
  height: 100%;
  font-family: 'PretendardVariable';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
